.ProjectBox {
  width: 150px;
  height: 200px;
  perspective: 300px;
  border: 1px solid black;
}

.ProjectBox__inner-container {
  width: 100%;
  height: 100%;
  opacity: 50%;
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(0deg);
}

.front {
  border: 1px solid blue;
  animation: flipFront 1s ease;
}

.back {
  border: 1px solid red;
  animation: flipBack 1s ease;
}

.flip {
  animation: flip 1s ease;
  transform: rotateX(-90deg);
}

.project-image {
  width: 100%;
  height: 100%;
  z-index: -1;
}

@keyframes flipFront {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

@keyframes flipBack {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

@keyframes flip {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(-90deg);
  }
}
