.Projects {
  width: 100%;
  min-height: 65vh;
  padding-top: 50px;
  position: relative;
  color: white;
}

.projects-title {
  font-size: 2rem;
  padding-bottom: 7vh;
}

.projects-list {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
