.MovingBackground {
  width: 100%;
  height: 30vh;
  position: relative;
}

.video-container {
  width: 100%;
  height: 100%;
}

.video-container:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(12, 12, 12, 0.25), rgba(245, 245, 245, 0.25));
}

.movingBackground-video {
  background-position-y: 0;
  background-size: contain;
  width: 105%;
  opacity: 100%;
  position: relative;
  z-index: -1;
}

@keyframes slide {
  from {
    background-position: 100% 0;
  }
  to {
    background-position: -100% 0;
  }
}
