.parallax {
/*   background: src('/client/public/assets/coding-background.mp4') no-repeat fixed; */
  background-size:100% 100%;
}

.content-video {
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}

.parallax-inner {
  padding: 10px;
}
