.Header {
  width: 100%;
  min-height: 50vh;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: center;
  padding: 2vw;
}

.header-title {
  color: white;
  font-size: 3rem;
  padding: 5vh;

}

.header-subtitle {
  color: white;
  font-size: 2rem;
  padding: 5vh 0;
}
